# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Домашна4/DesignAndArchitectureProject/target/
/Домашна4/Микросервиси/DesignAndArchitectureProjectDataMicroservice/target/
/Домашна4/Микросервиси/DesignAndArchitectureProjectNewsMicroservice/target/