<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpTrendy Dashboard</title>
    <link rel="stylesheet" href="../static/homeStyle.css">
</head>
<body>
<div style="display: flex;">
    <div class="sidebar">
        <h1>UpTrendy</h1>
        <h2>TOP 10 Companies</h2>
        <div class="company-list">
            <button class="company">Alkaloid</button>
            <button class="company">Komercijalna</button>
            <button class="company">Stopanska</button>
        </div>
    </div>

<!--    <div class="sidebar">-->
<!--        <div class="logo">-->
<!--            <h1>UpTrendy</h1>-->
<!--        </div>-->
<!--        <h2>TOP 10 Companies</h2>-->
<!--        <div class="company-list">-->
<!--            <button class="company">Alkaloid</button>-->
<!--            <button class="company">Komercijalna</button>-->
<!--            <button class="company">Stopanska</button>-->
<!--        </div>-->
<!--    </div>-->

    <div class="main-content">
        <a href="dashboard.html" class="button">DASHBOARD</a>
<!--        <div class="button">Search company<span></span></div>-->
    </div>
</div>
</body>
</html>
